.item-card-o-c{
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
}
.item-card-o-c:hover{
    opacity: 100%;
    transition: opacity 1s;
}
.item-button-card{
    width:90%;
}
.item-img-card{
    height: 500px;
}
.item-img-card:hover{
    opacity: 100%;
    transition: opacity 1s;
}
.card-c{
    border-radius: 0;
    border: 5px double rgba(211, 149, 55, 0.603);
    border-bottom: 5px double rgb(0, 0, 0);
    border-top: 5px double rgb(0, 0, 0)
}